/* rem and em do not depend on html font-size in media-query. Instead, 1rem = 1em = 16px;  */

/* bellow 1344px */

@media (max-width: 84em) {
    .hero{
        max-width: 120rem;
        font-size: 4.4rem;
    }

    .heading-primary{
        font-size: 4.4rem;
    }
    .gallery-item{
        display:grid;
        grid-template-columns: repeat(2,1fr);
    }   
}

/* Desktop default = 130rem;
    => container-default: 130 * 10 = 1300px; 
    after @media 75em(1200px)
    => container : 130 * 9= 1170px; 
*/

@media (max-width: 75em) {
    html{
        font-size: 56.25%;
        /* 9 / 16 * 100 */
    }
    .grid{
        column-gap: 4.8rem;
    }
    .heading-secondary{
        font-size: 3.6rem;
    }

    .heading-terriary{
        font-size: 2.4rem;
    }
    header{
        padding: 0 3.6rem;
     
    }
    .hero{
        grid-gap: 4.8rem;
    }
    .main-nav-list{
        grid-gap: 3.2rem;
    }

    .testimonials-container {
        padding: 9.6rem 3.2rem;
    }
}



/* max-width: 944px 
*/

@media(max-width: 59em){
    html{
        font-size: 50%; 
    }
    .section-pricing{
        padding: 9.6rem 0;
    }
    .section-testimonials {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
    }

    .testimonials-container{
        text-align: center;
    }

    .gallery-item{
        grid-template-columns: repeat(6,1fr);
    }

    .princing-plan{
        width: 100%;
    }

    .cta{
        grid-template-columns: 3fr 2fr;
    }

    .cta-form{
        grid-template-columns: 1fr;
    }
    .btn--form{
        margin-top: 1.2rem;
    }
    
    .btn-mobie-nav{
        display: block;
    }

    .hero{
        grid-template-columns: 1fr;
    }

    .hero-text-box{
        text-align: center;
    }
    .delivered-meals{
        justify-content: center;
    }
    .hero-img-box{
        text-align: center;
    }
    .hero-img{
        width: 50%;
    }

    html{
        overflow-x: hidden;
    }
    body{
        overflow-x: hidden;
    }    
    
    header{
        position: relative;
        
    }
    .main-nav{
        position: absolute;
        top: 0; 
        left: 0; 
        width: 100%; 
        height: 100vh;
        background-color: rgba(255, 235, 204, 0.92);
        transform: translateX(100%);
        transition: all 1s;
        display: flex;
        justify-content: center;
        align-items: center;


        opacity: 0;
        pointer-events: none;
        visibility: hidden;
    }
    .btn--full:link, .btn--full:visited{
        margin: 0 0 3.2rem !important;
    }
    .nav-open .main-nav{
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        transform: translateX(0);
    }

    .nav-open .icon-mobie-nav[name="close-outline"]{
        display: block;
    }

    .nav-open .icon-mobie-nav[name="menu-outline"]{
        display: none; 
    }
    

    .main-nav-list{
        flex-direction: column;
        gap: 4.8rem;
    }

    .main-nav-link:link,
    .main-nav-link:visited{
        font-size: 3rem;
    }

    .logos img{
        height: 3rem; 
    }

    .heading-feature-in{
        margin-bottom: 4.4rem;
    }

    /* bellow 704px */
    @media (max-width: 44em){
        .diet{
            grid-column: 1/3;
            justify-self: center;
        }
        .grid--3-cols,.grid--4-cols{
            grid-template-columns: repeat(2,1fr);
        }
        .heading-secondary{
            margin-bottom: 4.8rem;
        }
        .grid--footer{
            grid-template-columns: repeat(6,1fr);
        }

        .nav-col{
            grid-row: 1;
            grid-column: span 2;
        }
        .logo-col,.address-col{
            grid-column: span 3;
        }
      
    }

    /* bellow 544px */
    @media (max-width: 34em){
        .grid--2-cols,
        .grid--3-cols,
        .grid--4-cols,
        .grid--5-cols{
            grid-template-columns: 1fr;
            column-gap: 0;
        }

        .hero{
            padding: 0 3.2rem;
        }
        .section-hero{
            padding: 3.2rem 0 ;
        }
        .hero-img{
            width: 80%;
        }
        .logos img{
            height: 1.4rem;
        }

        .step-img-box:nth-child(2){
            grid-row: 1;
        }
        .step-img-box:nth-child(6){
            grid-row: 5;
        }

        .step-img-box{
            /* transform: translateY(3.2rem); */
            row-gap: 3.2rem;
        }

        .testimonials{
            grid-template-columns: 1fr;
        }
        .gallery-item{
            grid-template-columns: repeat(4,1fr);
        }
        
        .cta{
            grid-template-columns: 1fr;
        }
        .cta-img-box{
            grid-row: 1;
            height: 250px;
            background-position: center;
        }
        .cta-text-box{
            padding: 3.2rem;
        }

    }

}